node_modules
.svelte-kit
.vercel
.env
.env.*
!.env.example

*.nes
!static/roms/pdroms/nes/library/**/*.nes
!static/roms/pdroms/nes/library/**/*.NES
!static/roms/licensed/nes/library/**/*.nes
!static/roms/licensed/nes/library/**/*.NES
